<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>
<div id="forgot">
    <h1>Forgot Password</h1>

    <div class="forgot-container">
<!--
        <form action="#" th:action="@{/pass_change}" th:object="${user}" method="post">

            <label >Email</label>
            <input th:field="*{email}" type="text" name="emailId">

            <input type="reset" value="Clear"/></><br><br>
            <input type="submit" value="Submit">

        </form>
        -->

        <form th:action="@{/pass_change}" method="post">
            <div><label> User Name : <input th:field="*{email}" type="text" name="emailId"> </label></div>
            <div><input type="submit" value="Submit"/></div>

        </form>
    </div>
</div>

</form>


</body>

</html>
